# Visual Studio 2015/2017 cache/options directory
.vs/

# CSProj build directories
[Bb]in/
[Oo]bj/

# Generated Resource Files
**/Properties/**/*.Designer.cs

# MSBuild Binary and Structured Log
*.binlog